<section class="section" id="about-me">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg pb-3">
                <img src="./assets/img/chilling-person.svg" alt="Chilling person" class="img-fluid" />
            </div>
            <div class="col-lg">
                <h2 class="h1 text-uppercase">About me</h2>
                <p>He is a Front-End developer who has professional experience working on informational, bank, media and other websites.</p>
                <p>Using modern technologies and following the latest trends he builds beautiful and semantic sites.</p>
                <p>Knowledge in Gulp, ES6 JavaScript, SASS and others helps him a lot.</p>
                <a href="#contacts" class="btn btn-dark btn-lg smooth-scroll">Contact me</a>
            </div>
        </div>
    </div>
</section>
