<section class="section" id="home">
    <div class="container">
        <div class="row align-items-center pb-5">
            <div class="col-lg pb-3">
                <h1 class="text-uppercase">Front-End <br /> Developer</h1>
                <p>
                    DAPSY specializes in making things for human people. <br />
                    He loves Front-End and bringing awesome web designs to life. <br />
                    He also likes to dance and discover how the universe works.
                </p>
                <a href="#about-me" class="btn btn-dark btn-lg w-100 smooth-scroll" style="max-width: 320px;">
                    Learn more
                </a>
            </div>
            <div class="col-lg">
                <img src="./assets/img/developer.svg" alt="Developer" class="img-fluid" />
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg d-flex justify-content-center">
                <div class="card card-shadow text-center mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <svg width="3.125rem" height="3.125rem" viewBox="0 0 16 16" class="bi bi-brush card-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.213 1.018a.572.572 0 0 1 .756.05.57.57 0 0 1 .057.746C15.085 3.082 12.044 7.107 9.6 9.55c-.71.71-1.42 1.243-1.952 1.596-.508.339-1.167.234-1.599-.197-.416-.416-.53-1.047-.212-1.543.346-.542.887-1.273 1.642-1.977 2.521-2.35 6.476-5.44 7.734-6.411z"/>
                            <path d="M7 12a2 2 0 0 1-2 2c-1 0-2 0-3.5-.5s.5-1 1-1.5 1.395-2 2.5-2a2 2 0 0 1 2 2z"/>
                        </svg>
                        <strong class="h5 d-block card-title">Web Dev</strong>
                        <p class="card-text">
                            Having some knowledge in design helps him a lot in making things awesome.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg d-flex justify-content-center">
                <div class="card card-shadow text-center mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <svg width="3.125rem" height="3.125rem" viewBox="0 0 16 16" class="bi bi-code card-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.854 4.146a.5.5 0 0 1 0 .708L2.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm4.292 0a.5.5 0 0 0 0 .708L13.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
                        </svg>
                        <strong class="h5 d-block card-title">Web Dev</strong>
                        <p class="card-text">
                            He like to code things from scratch, and enjoy bringing ideas to life in the browser.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg d-flex justify-content-center">
                <div class="card card-shadow text-center mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <svg width="3.125rem" height="3.125rem" viewBox="0 0 16 16" class="bi bi-braces card-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6zM13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6z"/>
                        </svg>
                        <strong class="h5 d-block card-title">Web Dev</strong>
                        <p class="card-text">
                            Knowing a little bit for Back-End goes a long way when building the web.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
