<section class="section" id="projects">
    <div class="container">
        <div class="mb-5-lg">
            <h2 class="h1 text-uppercase">Projects</h2>
            <p>I can't show you my professional projects but I can show you some of my awesome plugins!</p>
            <p>Here are some honorable mentions:</p>
            <ul class="mb-4">
                <li>
                    <p>
                        <a
                            href="https://github.com/DAPSY-dev/Setting-up-React-with-parcel-bundler"
                            class="link-dark"
                            target="_blank"
                            rel="noopener"
                        >
                            Setting up React with parcel bundler
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a
                            href="https://github.com/DAPSY-dev/Tiny-React-carousel"
                            class="link-dark"
                            target="_blank"
                            rel="noopener"
                        >
                            Tiny React carousel
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a
                            href="https://github.com/DAPSY-dev/Vue-ToDo-app"
                            class="link-dark"
                            target="_blank"
                            rel="noopener"
                        >
                            Vue ToDo app
                        </a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="card mb-3">
                    <img src="./assets/img/lightbox.jpg" class="card-img-top" alt="Lightbox" />
                    <div class="card-body">
                        <strong class="h5 d-block card-title">Tinyx - tiny lightbox</strong>
                        <p class="card-text">
                            Very small lightbox gallery plugin. <br />
                            <a
                                href="https://codepen.io/DAPSYeffect/pen/NWxJKYZ"
                                class="link-dark"
                                target="_blank"
                                rel="noopener"
                            >
                                View in CodePen
                            </a>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">HTML</small>
                            <small class="text-muted">|</small>
                            <small class="text-muted">CSS</small>
                            <small class="text-muted">|</small>
                            <small class="text-muted">BEM</small>
                            <small class="text-muted">|</small>
                            <small class="text-muted">OOP JavaScript</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card mb-3">
                    <img src="./assets/img/form-wizard.png" class="card-img-top" alt="Form wizard" />
                    <div class="card-body">
                        <strong class="h5 d-block card-title">Form Wizard</strong>
                        <p class="card-text">
                            Multi step form plugin. <br />
                            <a
                                href="https://codepen.io/DAPSYeffect/pen/MWwazRo"
                                class="link-dark"
                                target="_blank"
                                rel="noopener"
                            >
                                View in CodePen
                            </a>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">HTML</small>
                            <small class="text-muted">|</small>
                            <small class="text-muted">CSS</small>
                            <small class="text-muted">|</small>
                            <small class="text-muted">OOP JavaScript</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="card mb-3">
                    <img src="./assets/img/datepicker.png" class="card-img-top" alt="Datepicker" />
                    <div class="card-body">
                        <strong class="h5 d-block card-title">Datepsy - Datepicker</strong>
                        <p class="card-text">
                            Lightweight datepicker plugin. <br />
                            <a
                                href="https://codepen.io/DAPSYeffect/pen/XWXgqXg"
                                class="link-dark"
                                target="_blank"
                                rel="noopener"
                            >
                                View in CodePen
                            </a>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">HTML</small>
                            <small class="text-muted">|</small>
                            <small class="text-muted">SCSS</small>
                            <small class="text-muted">|</small>
                            <small class="text-muted">BEM</small>
                            <small class="text-muted">|</small>
                            <small class="text-muted">OOP JavaScript</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card mb-3">
                    <img src="./assets/img/custom-select.png" class="card-img-top" alt="Custom select" />
                    <div class="card-body">
                        <strong class="h5 d-block card-title">Custom Select</strong>
                        <p class="card-text">
                            Custom select box plugin. <br />
                            <a
                                href="https://codepen.io/DAPSYeffect/pen/LYEypEx"
                                class="link-dark"
                                target="_blank"
                                rel="noopener"
                            >
                                View in CodePen
                            </a>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">HTML</small>
                            <small class="text-muted">|</small>
                            <small class="text-muted">CSS</small>
                            <small class="text-muted">|</small>
                            <small class="text-muted">OOP JavaScript</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
