/* Reset
================================ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

pre,
code,
kbd,
samp {
  font-family: ui-monospace, monospace;
}

picture,
img,
svg,
video,
audio,
canvas,
iframe,
embed,
object {
  display: block;
  max-inline-size: 100%;
}

img,
video {
  block-size: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

textarea {
  resize: vertical;
}

/* Components
================================ */

.app {
  display: grid;
  grid-template-columns: 100%;
  place-content: center;
  place-items: center;
  margin-inline: auto;
  padding: 1rem;
  max-inline-size: 64rem;
  min-block-size: 100dvh;
  text-align: center;
}

.app__title {
  margin-block: 0 1em;
  font-size: clamp(1.5rem, calc(0.5rem + 5vw), 3rem);
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(63 61 86);
}
