<section id="about" class="about">
  <picture class="picture-background about__background">
    <img
      src="/assets/images/decoration.png"
      alt=""
      width="1536"
      height="1024"
      loading="lazy"
      class="picture-background__image"
    />
  </picture>

  <div class="wrapper wrapper--size-xs-lg">
    <div class="about__inner">
      <div class="avatar about__avatar">
        <load src="/src/partials/icons/stars.html" />
        <load src="/src/partials/icons/stars.html" />
        <picture
          class="picture avatar__picture"
          style="--dd-picture-aspect-ratio: 1254 / 1254"
        >
          <source srcset="/assets/images/avatar.webp" type="image/webp" />
          <img
            src="/assets/images/avatar.jpg"
            alt="DAPSY avatar"
            width="1254"
            height="1254"
            loading="lazy"
            class="picture__image"
          />
        </picture>
      </div>

      <div class="about__info">
        <h2 class="heading heading--accent">Front-End developer.</h2>

        <p>
          I’m DAPSY, a web developer specializing in visual development,
          accessibility, and SEO optimization.
        </p>

        <a
          href="https://www.linkedin.com/in/dev-yordan-petrov/"
          target="_blank"
          rel="noopener noreferrer"
          class="button button--outline"
        >
          More about me
          <load src="/src/partials/icons/box-arrow-up-right.html" />
        </a>
      </div>

      <dl class="description-list description-list--icons">
        <div class="description-list__item">
          <dt class="description-list__term">
            <span class="description-list__icon">
              <load src="/src/partials/icons/person.html" />
            </span>
            Name
          </dt>
          <dd class="description-list__details">DAPSY</dd>
        </div>

        <div class="description-list__item">
          <dt class="description-list__term">
            <span class="description-list__icon">
              <load src="/src/partials/icons/geo-alt.html" />
            </span>
            Location
          </dt>
          <dd class="description-list__details">Sofia, Bulgaria</dd>
        </div>

        <div class="description-list__item">
          <dt class="description-list__term">
            <span class="description-list__icon">
              <load src="/src/partials/icons/pencil.html" />
            </span>
            Expertise
          </dt>
          <dd class="description-list__details">
            Ecommerce, Business, News, Real Estate
          </dd>
        </div>

        <div class="description-list__item">
          <dt class="description-list__term">
            <span class="description-list__icon">
              <load src="/src/partials/icons/heart.html" />
            </span>
            Loves
          </dt>
          <dd class="description-list__details">
            Anime, Science, Cats, Gaming
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>
