<section id="contact" class="contact">
  <picture class="picture-background contact__background">
    <source srcset="/assets/images/contacts.webp" type="image/webp" />
    <img
      src="/assets/images/contacts.jpg"
      alt="Contact background"
      width="1717"
      height="916"
      loading="lazy"
      class="picture-background__image"
    />
  </picture>

  <div class="wrapper wrapper--size-lg">
    <div class="contact__inner">
      <div class="contact__copy">
        <h2 class="heading heading--accent">Let's create something amazing!</h2>

        <p>
          Have a project in mind or just want to say hi?
          <br />
          Feel free to reach out.
        </p>

        <a href="mailto:dapsy.dev@gmail.com" class="button button--fill">
          Get in touch
          <load src="/src/partials/icons/arrow-right.html" />
        </a>
      </div>

      <address class="contact__details">
        <a href="mailto:dapsy.dev@gmail.com" class="link">
          <load src="/src/partials/icons/envelope.html" />
          <span class="visually-hidden">Email</span>
          dapsy.dev@gmail.com
        </a>

        <a
          href="https://www.linkedin.com/in/dev-yordan-petrov/"
          target="_blank"
          rel="noopener noreferrer"
          class="link"
        >
          <load src="/src/partials/icons/linkedin.html" />
          <span class="visually-hidden">LinkedIn</span>
          Yordan Petrov
        </a>
      </address>
    </div>
  </div>
</section>
