<section id="home" class="hero">
  <picture class="picture-background hero__background">
    <source srcset="/assets/images/hero.webp" type="image/webp" />
    <img
      src="/assets/images/hero.jpg"
      alt="Hero background"
      width="1717"
      height="916"
      class="picture-background__image"
    />
  </picture>

  <div class="wrapper">
    <div class="hero__inner">
      <h1 class="heading heading--xl">
        I'm DAPSY<span class="heading__accent">.</span>
      </h1>

      <h2 class="heading heading--accent">
        I like making the web awesome for everyone.
      </h2>

      <p class="hero__text">
        Specializing in making things for human people. I love Front-End and
        bringing awesome web designs to life.
      </p>

      <div class="hero__cta">
        <a href="#works" class="button button--fill button--lg">
          View my works
          <load src="/src/partials/icons/arrow-right.html" />
        </a>
      </div>
    </div>
  </div>
</section>
