<section id="works" class="works">
  <div class="wrapper">
    <div class="works__inner">
      <div class="works__heading-wrapper">
        <h2 class="heading heading--accent">My Works</h2>
      </div>

      <div class="works__cards">
        <load
          src="/src/partials/card.html"
          image="/assets/images/works/frontend-starter-kit.webp"
          image-mime="image/webp"
          image-fallback="/assets/images/works/frontend-starter-kit.png"
          title="Frontend Starter Kit"
          text="Tooling"
          link="https://github.com/DAPSY-dev/frontend-starter-kit"
        />
        <load
          src="/src/partials/card.html"
          image="/assets/images/works/trackapoint.webp"
          image-mime="image/webp"
          image-fallback="/assets/images/works/trackapoint.png"
          title="trackapoint"
          text="App"
          link="https://github.com/DAPSY-dev/trackapoint"
        />
        <load
          src="/src/partials/card.html"
          image="/assets/images/works/toggle.webp"
          image-mime="image/webp"
          image-fallback="/assets/images/works/toggle.png"
          title="Toggle"
          text="UI Utility"
          link="https://github.com/DAPSY-dev/toggle"
        />
        <load
          src="/src/partials/card.html"
          image="/assets/images/works/new-tab.webp"
          image-mime="image/webp"
          image-fallback="/assets/images/works/new-tab.jpg"
          title="New tab"
          text="Browser Utility"
          link="https://github.com/DAPSY-dev/new-tab"
        />
      </div>

      <div class="works__cta">
        <a
          href="https://github.com/DAPSY-dev?tab=repositories"
          target="_blank"
          rel="noopener noreferrer"
          class="button button--outline"
        >
          View all works
          <load src="/src/partials/icons/box-arrow-up-right.html" />
        </a>
      </div>
    </div>
  </div>
</section>
